{% extends 'base.html' %}

{% block content %}
<h1>Meet the Team</h1>

<div class="card-deck">
  <div class="card hoverable">
    <img src="https://ca.slack-edge.com/T0351JZQ0-U059C25802D-b0020837f8c4-512" class="card-img-top" alt="Alex Taylor Picture" width="200" height="200">
    <div class="card-body">
      <div class="card-content">
      <h5 class="card-title"><b>Alex Taylor</b> [<i>Co-Founder</i>]</h5>
      <p class="card-text">I am a Full Stack Software Engineer with a Bachelor of Science in Informatics, specializing in cybersecurity and software engineering from the University of Washington, Seattle. 
        Equipped with strong communication skills, leadership abilities, and a knack for critical thinking and problem-solving, I bring a diverse skill set to the software development landscape. 
        In my previous career, I laid a solid foundation for my transition by immersing myself in the study of cybersecurity and software engineering. 
        Now, as I look toward the future, I aspire to utilize my expertise and passion for secure software solutions to tackle complex problems and contribute to the advancement of the digital realm. 
        With an unwavering commitment to user-centric design and collaboration, I am determined to make a meaningful impact as a Full Stack Engineer.</p>
      </div>
    </div>
  </div>
  <div class="card hoverable">
    <img src="https://media.licdn.com/dms/image/D5603AQEImvRoJ6p-3g/profile-displayphoto-shrink_400_400/0/1678929992526?e=1696464000&v=beta&t=fYP0LNoXDhdHqrU3WSUWY4rfqQPjdvoegoSBxFD_J2k" class="card-img-top" alt="Vivien Pham Picture" width="200" height="200">
      <div class="card-body">
        <div class="card-content">
        <h5 class="card-title"><b>Vivien Pham</b> [<i>Co-Founder</i>]</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
  </div>
  <div class="card hoverable">
    <img src="https://ca.slack-edge.com/T0351JZQ0-U05AW9698CQ-440b03110eb0-512" class="card-img-top" alt="Rami Bankale Picture" width="200" height="200">
    <div class="card-body">
      <div class="card-content">
      <h5 class="card-title"><b>Rami Bankale</b> [<i>Co-Founder</i>]</h5>
      <p class="card-text">As a highly skilled software engineer and former management consultant, I have cultivated a strong foundation in managing complex projects, collaborating with cross-functional teams, and implementing effective risk management processes for key clients and stakeholders. 
        Consistently delivering exceptional results that exceed expectations, I offer a unique blend of technical proficiency, change management skills, and business acumen.
        I'm effective at analyzing key business drivers, garnering insights from data to inform more effective decision making, and cross-leveraging available data and customer listening to improve experiences. 
        I am poised to drive innovation and success in both software engineering and risk management. 
        .</p>
      </div>
    </div>
  </div>
</div>
<hr />
<p>Contact: fitquest@info.com</p>
{% endblock %}