{% extends 'base.html' %}

{% block content %}
<h1>About FitQuest</h1>

<div class="card-deck">
  <div class="card hoverable">
    <img src="https://ca.slack-edge.com/T0351JZQ0-U059C25802D-b0020837f8c4-512" class="card-img-top" alt="Alex Taylor Picture" width="200" height="200">
    <div class="card-body">
      <h5 class="card-title"><b>Alex Taylor</b></h5>
      <h7>Co-Founder <i>FitQuest</i></h7>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
  <div class="card hoverable">
    <img src="https://media.licdn.com/dms/image/D5603AQEImvRoJ6p-3g/profile-displayphoto-shrink_400_400/0/1678929992526?e=1696464000&v=beta&t=fYP0LNoXDhdHqrU3WSUWY4rfqQPjdvoegoSBxFD_J2k" class="card-img-top" alt="Vivien Pham Picture" width="200" height="200">
    <div class="card-body">
      <h5 class="card-title"><b>Vivien Pham</b></h5>
      <h7>Co-Founder <i>FitQuest</i></h7>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
  <div class="card hoverable">
    <img src="https://ca.slack-edge.com/T0351JZQ0-U05AW9698CQ-440b03110eb0-512" class="card-img-top" alt="Rami Bankale Picture" width="200" height="200">
    <div class="card-body">
      <h5 class="card-title"><b>Rami Bankale</b></h5>
      <h7>Co-Founder <i>FitQuest</i></h7>
      <p class="card-text">Experienced management consultant who is passionate about software engineering. 
        Motivated to deliver results that meet and exceed the customers needs.</p>
    </div>
  </div>
</div>
  
<hr />
<p>Hire FitQuest Application Developers!</p>
<footer>All Rights Reserved, &copy; 2023 FitQuest</footer>  
{% endblock %}